<!-- should display saved character sheet-->
<!DOCTYPE html>
<html>
    <head>
        <title>D&D Character Sheet</title>
    </head>
    <body>
        <form action="{% url 'sheet_detail' %}" method="get">
            {% if sheet.id %}
            {% for field in form %}
            <div>
                {{field.label_tag}} <br />
                {{field}}
            </div>
            {% endfor %}
            {% endif %}
            <button type="submit" class="save btn btn-secondary">Save</button>
        </form>
    </body>
</html>